# Byte-compiled / optimized / Python files
*.pyc
__pycache__/
*.egg-info/

# Virtual environment
.venv/
venv/
ENV/
env/

# IDE / Editor specific files
.vscode/
.idea/
*.swp

# Dependency directories
node_modules/
npm_modules/
yarn_modules/

# Build output
dist/
build/
target/

# Log files
*.log

# OS specific files
.DS_Store
Thumbs.db

# Expo specific
.expo/
android/build/
iOS/build/

# React Native / Metro Bundler
metro-config.js
metro-cache/

# Credentials / Secrets (NEVER COMMIT)
.env
*.env*

# Test specific files
coverage/
*.test.js.snap
*.unit.js.snap
*.integration.js.snap

# Tauri specific
.config/
